  #settingsDiv {
    visibility: hidden;
    padding: 1em;
    overflow-y: auto;
    color: rgb(48, 57, 66);
    background-color: #FFFFFF;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Cantarell, 'Segoe UI', Tahoma, sans-serif;
    box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0, 0, 0, 0.15);
    background: white;
    z-index: 8000;
  }
  #settingsDiv input[type='checkbox'],
  #settingsDiv input[type='radio'] {
    width: 13px;
    height: 13px;
    margin-right: 0.6em; /* As in the chrome://settings page */
    margin-top: -3px;
    vertical-align: middle;
  }
  #settingsDiv label {
    display: inline-block;
    color: rgb(48, 57, 66);
  }
  #settingsDiv input[type='text'] {
    box-sizing: border-box;
    color: rgb(68, 68, 68);
    background-color: white;
    border-color: rgb(191, 191, 191);
    min-height: 2em;
    border-radius: 2px;
    font: inherit;
    padding: 3px;
  }
  #settingsDiv button {
    background-image: -webkit-linear-gradient(#ededed, #ededed 38%, #dedede);
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08),
    inset 0 1px 2px rgba(255, 255, 255, 0.75);
    color: #444;
    font: inherit;
    margin: 0 1px 0 0;
    outline: none;
    text-shadow: 0 1px 0 rgb(240, 240, 240);
  }
  #settingsDiv a {
    vertical-align: middle;
    text-decoration: none;
    color: rgb(17, 85, 204);
  }
  #settingsDiv button:hover
  {
    background-image: -webkit-linear-gradient(#f0f0f0, #f0f0f0 38%, #e0e0e0);
    border-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.12),
    inset 0 1px 2px rgba(255, 255, 255, 0.95);
    color: black;
  }
  #settingsShade {
    z-index: 7999;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.75);
    width: 100%;
    height: 100%;
    opacity: 0.0;
  }

  .fadeIn {
    animation: fadeIn 200ms forwards;
  }

  .fadeOut {
    animation: fadeOut 200ms forwards;
  }

  @keyframes fadeIn {
    0% {opacity: 0; visibility: visible;}
    100% {opacity: 1; visibility: visible;}
  }

  @keyframes fadeOut {
    0% {opacity: 1; visibility: visible;}
    99% {opacity: 0; visibility: visible;}
    100% {opacity: 0; visibility: hidden;}
  }

  .banchecker-pagination input[type="button"] {
    display: inline-block;
    line-height: 24px;
    background-color: rgba( 103, 193, 245, 0.2 );
    border: 1px transparent;
    border-radius: 3px;
    cursor: pointer;
    padding: 0px 16px;
    color: #66c0f4;
  }

  .banchecker-pagination input[type="button"]:hover {
    background-color: #66c0f4;
    border-color: #66c0f4;
    color: #fff;
  }

  .banchecker-verdict {
    position: absolute;
    color: #ebebeb;
    top: 0;
    right: 0;
    width: auto;
    max-width: 28px;
    height: 100%;
    transition: all .3s;
    z-index: 10;
    cursor: default;
    display: flex;
    align-items: center;
  }

  .banchecker-verdict:hover {
    max-width: 235px;
  }

  .banchecker-verdict div {
    flex: 0 0 28px;
    text-align: center;
    overflow: hidden;
  }

  .banchecker-verdict:hover div {
    flex: 0 0 0;
  }

  .banchecker-verdict span {
    padding: 10px;
    white-space: pre;
  }

  .banchecker-verdict.banned {
    background-color: rgba(255, 0, 0, .4);
  }
  .banchecker-verdict.banned:hover {
    background-color: rgba(255, 0, 0, .9);
  }
  .banchecker-verdict.clean {
    background-color: rgba(0, 255, 0, .2);
  }
  .banchecker-verdict.clean:hover {
    background-color: rgba(0, 150, 0, .9);
  }